body {
  padding:2.em;
  background-image: url("images/Closeup_Sakura_Branches_517069_2560x1440.jpg");
}
p.destacado {color: aqua;
font-weight:bold;}
#titulo{ color: rgb(144, 156, 208);
}
h3{color: blanchedalmond;
  margin-left: 40px}
h1 {color: bisque;}
#final {color: blue;}
#a {color: bisque;}
#b {color: bisque;}
#c {color: bisque;}
div img {margin: top 0.5em;}
p.descripcion{color: rgb(90, 18, 40);
  height: 60px;
  margin: top 0.5em 0.5em 0.5em 1em; 
}
img.userpicture {
  margin: top 0.5em;
  margin-right: 1rem;
  border-radius: 80%;
  vertical-align: middle ;
  border-style: ridge;
}