*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo { color: rgb(174, 241, 250);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif  ;
  font-weight: 400;
}

h1 {color: rgb(152, 243, 245);}

h3{color: rgb(152, 255, 255);
  margin-left: 40px}


p.descripcion{color: rgb(113, 251, 235);
  background-image: url(../images/para\ texto3.png);
  background-size: cover;
  height: 60px;
  width: 30%;
  padding: 10%;
}

body {
  padding:2.em;
  background-image: url(fondo\ dos.jpg) ;
  background-size: cover;
  background-position:center;
}
p.destacado {color: aqua;
font-weight:bold;
}

.lista{
color: aqua;
}

.fondo{
  background-image: url(../css/)
}

div img {margin: top 0.5em;}

img.userpicture {
  margin: top 0.5em;
  margin-right: 5rem;
  border-radius: 80%;
  vertical-align: middle ;
  border-style: ridge;
  ;
}


#final {color: blue;}